<head>
    {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
</head>

  <div class="container">
    <div class="col-sm" id="header">
        <i class="fas fa-shopping-cart" style="font-size: 4rem; padding: 15px;"></i>
        <h1 class="display-4">Grocery List</h1>
        {{!-- <p class="lead">Live a healthier lifestyle</p> --}}
        <p id="instructions">Get started by adding food or meals below. Delete items with <i class="fas fa-trash"></i></p>
        <form class="create-form">
          <div class="form-group">
            <label for="ca"></label>
            <input type="text" id="ca" name="name">
            <button type="submit" id="add-food">Add</button>
            {{!-- <div class="form-group">
              <input id="radio" type="radio" value="1" checked><br>
            </div> --}}
          </div>
        </form>
    </div>
    <div class="container" id="today">
      <div class="col-sm">
        {{!-- <h3>Today's Foods</h3> --}}
        <p class="card-text">
          <ul>
            {{#each meals}}
            {{> meals/meal-container}}
            {{/each}}
          </ul>
        </p>
      </div>
    </div>
    {{!-- <div class="container" id="eaten">
      <div class="col-sm">
        <h3>What I've eaten today</h3>
        <p class="card-text">
          <ul>
            {{#each meals}}
            {{#if eaten}}
            {{> meals/meal-container}}
            {{/if}}
            {{/each}} 
          </ul>
        </p>
      </div>
    </div> --}}
    <nav class="navbar navbar-dark bg-dark" id="footer">
      <a href="#">2020 Mark Ohanesian</a>
      <a href="https://github.com/markohanesian">GitHub</a>
    </nav>
  </div>