<head>
    {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
</head>
<

<div id="header">
    <h1 class="display-4">Meal Planner</h1>
    <p class="lead">Plan your meals and track what you've eaten today</p>
    <form class="create-form">
      <div class="form-group">
        <label for="ca">Food Item(s)</label>
        <input type="text" id="ca" name="name">
      </div>
      <div class="form-group">
        <input type="radio" value="1" checked>Ready<br>
      </div>
      <button type="submit" class="btn btn-warning">Add</button>
    </form>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Today's Foods</h2>
      <p class="card-text">
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/unless}}
          {{/each}}
        </ul>
      </p>
    </div>
    <div class="col-sm">
        
          <h2>What I've eaten today</h2>
          <p class="card-text">
            <ul>
              {{#each burgers}}
              {{#if devoured}}
              {{> burgers/burger-block devoured=true}}
              {{/if}}
              {{/each}}
            </ul>
          </p>
    
    </div>
  </div>
</div>

<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <a class="navbar-brand" href="#">2018 Mark Sarkis Ohanesian</a>
</nav>