/* sections */
#header {
  padding: 15px !important;
  background-color: #28590C;
  color: #FBFCEB;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

#today {
  padding-top: 20px;
  background-color: #97BE11;
}

#eaten {
  padding-top: 20px;
  background-color: #97BE11;
}

#footer {
  background-color: #28590C !important;
}

.col-sm {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 0px;
  margin-top: 0px;
}

.meal-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  color: white;
  border-style: solid;
  border-width: 1px;
}

.form-group, create-form, ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

/* Text */
h1 {
  color: white !important;
}

h2 {
  color: darkgrey !important;
}

.lead {
  text-decoration: none;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 40px;

}

#instructions {
  color: #FBFCEB;
  padding-right: 40px;
  padding-left: 40px;
}

/* buttons */
#add-food {
  background-color: #FBFCEB; 
  border: solid;
  border-width: 1px;
  margin-top: 5px;
  color: #28590C;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 26px;
  display: grid;
  place-content: center;
}

.meal-buttons {
  display: flex;
  flex-direction: 'row';
}

.change-sleep {
  display: grid;
  place-items: center;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 25px;
}

.delete-cat {
  display: grid;
  place-items: center;
  background-color: transparent;
  /* justify-content: 'space-between'; */
  border: solid;
  border-color: red;
  color: red;
  padding: 10px;
  margin-left: 40px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 35px;
}

body {
  background-color: white;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}