#header {
  margin-top: 50px;
  padding: 15px !important;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

#header-image {
  height: 150px !important;
}

.form-group, create-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* Text */
h1 {
  color: green !important;
  padding: 10px;
}

h2 {
  color: darkgrey !important;
}

.lead {
  text-decoration: none;
}

/* buttons */
#add-food {
  background-color: green; 
  border: none;
  color: white;
  padding: 5px 100%;
  text-decoration: none;
  font-size: 26px;
}

.change-sleep {
  flex-direction: 'row';
  justify-content: 'space-between';
  background-color: green; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.delete-cat {
  flex-direction: 'row';
  justify-content: 'space-between';
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

body {
  background-color: white;
}
