/* sections */
#header {
  padding: 15px !important;
  background-color: #1A594E;
  color: #FBFCEB;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

#today {
  padding-top: 20px;
  background-color:#f1f3f4;
  min-height: 400px;
}

#eaten {
  padding-top: 20px;
  background-color: #97BE11;
}

#footer {
  display: grid;
  place-items: left;
  background-color: #1A594E !important;
}

.col-sm {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 0px;
  margin-top: 0px;
}

.meal-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  color: white;
  /* border-style: solid; */
  /* border-width: 1px; */
}

#meal-name-box {
  display: grid;
  place-items: center;
  color: #1A594E;
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.meal-buttons {
  display: flex;
  flex-direction: 'row';
}

.form-group, create-form, ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

/* Text */
h1 {
  color: white !important;
  font-size: 3rem !important;
}

h2 {
  color: darkgrey !important;
}

#instructions {
  color: #FBFCEB;
  padding-right: 40px;
  padding-left: 40px;
}

/* buttons */
#add-food {
  background-color: whitesmoke; 
  border: solid;
  border-width: 1px;
  margin-top: 5px;
  color: #28590C;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 1.5rem;
  display: grid;
  place-content: center;
}



.eat-meal {
  display: grid;
  place-items: center;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 25px;
}

.delete-meal {
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  color: #1A594E;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

body {
  background-color: white;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

a{
  color: #E6C037;
}