<head>
    {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
</head>

<div class="meal-item">
    {{meal_name}}
    <div class="meal-buttons">
        <button class="eat-meal" data-id="{{this.id}}">Eat</button>
        <button class="delete-meal" data-id="{{this.id}}"> X </button>
    </div>
</div>