<div class="alert alert-warning" role="alert">
	{{burger_name}}
</div>

	<button class="change-sleep" data-id="{{this.id}}">Devour!</button>
	<button class="delete-cat" data-id="{{this.id}}">Clear</button>

